.filters {
  max-width: rem(800px);
  margin: 0 auto 0.7rem;

  .filter {
    background: none;
    padding: 0;
    border: none;
    appearance: none;
    color: $white;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.3rem 0.4rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.8rem;
    position: relative;

    // prettier-ignore
    @include responsive('margin', (xs: 0 0.5rem 0.5rem 0, m: 0 0.5rem 0 0));

    &:before {
      content: '';
      position: absolute;
      background: $red;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      z-index: -1;
      transform: skew(-4deg);
    }

    span.selected {
      display: inline-block;
      background: $white;
      color: #000;
      padding: rem(0 3px);
      margin: rem(0 0 0 4px);

      span {
        transform: rotate(45deg);
        transform-origin: center;
        display: block;
      }
    }

    &:hover,
    &.selected {
      &:before {
        background: $blue-main;
      }

      &:focus {
        outline: 1px solid $blue-light;
        
        &:before {
          background: $blue-main;
        }
      }
    }

    &:focus {
      outline: 1px solid $white;
    }
  }
}