.filters {
  max-width: rem(800px);
  margin: 0 auto 0.7rem;

  .filter {
    background: none;
    padding: 0;
    border: none;
    appearance: none;
    color: $white;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.3rem 0.4rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.8rem;
    position: relative;
    margin: 0 0.5rem 0.5rem 0;

    &:before {
      content: '';
      position: absolute;
      background: $red;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      z-index: -1;
      transform: skew(-4deg);
    }

    &:hover,
    &.selected {
      &:before {
        background: $blue-main;
      }

      &:focus {
        outline: 1px solid $blue-light;
        
        &:before {
          background: $blue-main;
        }
      }
    }

    &:focus {
      outline: 1px solid $white;
    }
  }
}
